.gradle/
.idea
build/
target/
bin/
out/
rule-suite/tmp/
.jtest/
.classpath
.project
.settings
tpc-suite/modules/hs_err_pid12768.log
rule-suite/report/
manual/java7-interfaces-mvn/hs_err_pid10512.log
manual/java7-interfaces-mvn/replay_pid10512.log
*tracer_*
manual/springexamples/.idea/*
.parasoft
*.tst.bak
sanity-check/projects/ut-modules/module-junit5-jupiter/cbt-test/
sanity-check/projects/ut-modules/module-junit5-jupiter/cbt/
sanity-check/projects/buildsystems/JUnit5BuildSystem/cbt-test/
sanity-check/projects/buildsystems/JUnit5BuildSystem/cbt/
sanity-check/projects/file-suppressions/report
sanity-check/projects/file-suppressions/.jtest
sanity-check/config/env
docker
*.7z